<div class="container">
  <div class="page-header">
    <h1>Geographical Coordinate Converter</h1>
  </div>
  <div class="well">
	<h2>Convert latitude and longitude to various formats and vice versa</h2>
    <div>
      <p>
        <span class="warning">Important</span>:&nbsp; See
        the <a href="#disclaimer" target="_self">license and disclaimer</a>
        before using.  <a href="#instructions" target="_self">Instructions</a>
        are <a href="#instructions" target="_self">below</a>.
      </p>
      <form name="form" class="css-form" novalidate>
        <div>
          <label for="input-coord-format">Display location format:</label>
          <select id="input-coord-format" ng-model="coordFormat" >
            <option ng-repeat="format in georefFormats" value="{{format.key}}">{{format.value}}</option>
          </select>
        </div>
        <div ng-show="coordFormat !== 'plus+code' && coordFormat !== 'osgb36' && coordFormat !== 'IrishGrid' && coordFormat !== 'ITM'">
          <label for="position-separator">Location ordering and separator:</label>
          <select id="position-separator" ng-model="positionFormat">
            <option value="lat-lng">lat lng</option>
            <option value="lat,lng">lat,lng</option>
            <option value="lng-lat">lng lat (Proj4 reversed)</option>
            <option value="lng,lat">lng,lat (Reversed)</option>
          </select>
        </div>
        <div>
          <label for="input-position">Location text:</label>
          <input id="input-position" ng-model="data.position" name="position" type="text" size="30" required="" ng-model-options="{debounce: 250}" position autofocus/>
          <div id="position-invalid" class="alert alert-warning" role="alert"
               ng-show="form.position.$error.position">Invalid
            latitude/longitude.  Also note that latitudes range between -90
            and 90 degrees.  Longitudes range be between -180 and 180
            degrees.
          </div>
        </div>
        <div id="div-output-location" ng-show="!form.position.$error.position && data.position && data.lat && data.lng">
          <b>Location converted to:</b>
          <span id="position-text" tl-coord-format="coordFormat" position-format="positionFormat" lat="data.lat" lng="data.lng"></span>
          <span tl-lat-lng="data.position" lat="data.lat" lng="data.lng"></span>
        </div>
        <div id='div-whereami' ng-show="geolocationEnabled">
          <label for="input-gps-accuracy">Request high accuracy location:</label>
          <input id="input-gps-accuracy" type="checkbox" ng-model="data.highAccuracy" />
          <button id="btn-whereami" ng-click="updatePosition()" type="button" class="btn btn-primary">Use my current location</button>
        </div>
      </form>
      <p id="warning" class="warning">
        It is your responsibility to confirm the correctness of the converted
        values.  Do not use these values without checking them against other
        reliable means, e.g. examining a map that uses the output format and
        visually confirming the location is as expected.  See also
        the <a href="#disclaimer" target="_self">disclaimer</a>.
      </p>
    </div>
    <div id="div-ext-links" ng-show="!form.position.$error.position && data.position && data.lat && data.lng">
      <h3>Links to external map providers</h3>
      <p>
        Clicking the links below will display the above location using the
        selected service provider.
      </p>
      <ul>
        <li><a href="{{data.osmurl}}" target="_blank">OpenStreetMap</a>&nbsp;<span class="extlink">&#x29c9;</span></li>
        <li><a href="{{data.googleurl}}" target="_blank">Google Map</a>&nbsp;<span class="extlink">&#x29c9;</span></li>
      </ul>
    </div>
    <div>
      <h2 id="instructions">Instructions</h2>
      <p>
        This application interprets the text you enter in the <code>Location
          text</code> field and displays a converted version of the interpreted
        location according to the options you have selected from the <code>Display
          location format</code> and <code>Location ordering and separator</code>
        option lists.  The latter option is only shown if relevant to the selected
        location format.
      </p>
	  <p>
        Many common formats are recognised.  To try a simple example, enter
        numeric only values, separated by a comma, e.g. <code>51.3,-2.3</code> for
        <code>N5.31&deg; W2.3&deg;.</code>
      </p>
      <p>
        By experimenting with the different <code>Display location
        format</code> options, you will see some of the formats that are also
        accepted as input.
      </p>
      <p>
        The degree symbol (&deg;), single and double quotes and variants of
        these can be used to represent degrees, minutes and seconds. You can use
        the lower-case letter 'd' to represent degrees.  Upper-case <code>N, S,
          W & E</code> can be used to indicate North, South, West and East.  A
        negative value denotes South for latitude and West for longitude.
      </p>
      <p>
        Generally, latitude is expected to precede longitude.  The exception
        is where the value is specifically formatted as the
        <a href="https://en.wikipedia.org/wiki/PROJ.4" target="_blank">proj.4</a>&nbsp;<span class="extlink">&#x29c9;</span> format.  Where
        longitude preceeds latitude, a lower-case letter 'd', single quote and
        double quote are used to represent degrees, minutes and seconds.
        E.g. <code>2d17'40.2"E 48d51'29.7"N</code>.
      </p>
      <p>
        Examples:
      </p>
	  <ul>
	    <li>48&deg;51'29.7"N 2&deg;17'40.2"E</li>
	    <li>48&deg;51.495'N 2&deg;17.67'E</li>
	    <li>48.85825&deg;N 2.2945&deg;E</li>
	  </ul>
      <p>
        To confirm correct interpretation of the input text, it is advisable
        to select the <code>Display location format</code> option that you
        believe matches your input text format and confirm that the output
        value exactly matches that input location text.
      </p>
      <h3>OLC plus+code option</h3>
      <p>
        This option generates an Open Location Code also known as a Plus Code.
        See the <a href="https://en.wikipedia.org/wiki/Open_Location_Code"
        target="blank">Open Location
        Code</a>&nbsp;<span class="extlink">&#x29c9;</span> article for more
        information about <a href="http://openlocationcode.com">Open Location
        Codes</a>&nbsp;<span class="extlink">&#x29c9;</span> and visit
        the <a href="http://plus.codes/">Plus Code demonstration
        site</a>&nbsp;<span class="extlink">&#x29c9;</span> to try them out.
      </p>
      <p>
        The source code for this application can be cloned with:<br/><br/>
        <code>git clone git://www.fdsd.co.uk/coordinate-converter.git</code>
      </p>
    </div>
    <div>
      <h2 id="privacy">Privacy</h2>
      <p>
        This application is implemented using the JavaScript environment which
        runs entirely within your browser.  None of the values you enter as
        locations are transmitted elsewhere nor stored by this application.
        It is something I developed for my own use and am simply happy to
        share it for public use.  I hope you find it useful too.
      </p>
      <p>
        The application generates links providing a convenient way to display
        maps using some external map service providers.  When you click on
        those links, the currently interpreted location will be included in
        the URL passed to those sites.
      </p>
    </div>
    <div>
      <h2 id="disclaimer">License including disclaimer</h2>
      <p>
        Coordinate Converter</br>
        &copy; 2016, 2017 Frank Dean
      </p>
      <p>
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or any
        later version.
      </p>
      <p>
        This program is distributed in the hope that it will be useful, but
        WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
        the <a href="LICENSE.txt">GNU General Public License</a> for more
        details.
      </p>
    </div>
  </div>
</div>
